@import '../common.less';
@import '../printEasy.less';
@import '../popup.less';

#productFlowCodePrint {
    .pmain{
        padding: 4px;
        min-height: unset;
        height: 100mm;
        width: 93mm;
        box-sizing: border-box;
        font-size: 20px;
        justify-content: center;
    }
}